*,
*::after,
*::before {box-sizing: border-box;}

body { 
	margin: 0; 
	font-family: Roboto,sans-serif;
}

h1,h2,h3,h4,h5,h6 { margin: 0; }

a {	text-decoration: none; color: black;}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

/* Header */

.top-header {
	background-color: #fef7f6;
}

.top-header__content {
	display: flex;
	justify-content: space-between;
}

.top-header__text {
	font-size: 11px;
	font-weight: 300;
	padding: 0 15px;
	margin: 10px 0;
	display: inline-block;
}
.top-header__text:first-child {
	padding-left: 0;
}
.top-header__text:last-child {
	padding-right: 0;
}
.top-header__text + .top-header__text {
	border-left: 1px solid #bab7b6;
}

.header__bg { background-color: white; }

.header__content {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
}

.navigation {
	display: flex;
	align-items: center;
}

.navigation__item {
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
}

.navigation__item + .navigation__item {padding-left: 40px;}


.header__icon + .header__icon {margin-left: 30px;}

/* Banner */
.banner {
	background: url('../img/bg-1.jpg');
	background-size: cover;
	max-height: 790px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 150px;
}
.banner__wrap {
	float: right;
}
.banner_grey {
	background: url('../img/bg-2.png');
}

.banner__suptitle {
	font-weight: 500;
	font-size: 14px;
	color: #565656;
	text-transform: uppercase;
}
.banner__title {
	font-weight: 500;
	font-size: 60px;
	margin: 40px auto 60px;
	max-width: 480px;
}

.banner__title_cursive {
	font-family: "Dancing Script" , cursive;
	font-weight: 700;
	font-size: 58px;
	color: #2a2a2a;
	text-transform: uppercase;
}

.banner__subtitle {
	font-size: 24px;
	font-weight: 300;
	color: #4a4a4a;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.banner__item {
	text-align: center;
	width: 50%;

}
.banner__img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Shop now */
.shop-now {
	background-color: #ff5353;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	padding: 20px 45px;
	border-radius: 5px;
}


/* Section */
.section {
	padding-bottom: 150px;
}
.section__title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin: 0 auto 90px;
	text-transform: uppercase;
}


/* product */
.product {
	display: flex;
}

.product + .product {
	margin-top: 80px;
}

.product__item{
	flex: 1 1 0;
}

.product__item + .products__item {
	margin-left: 30px;
}

.product__img {
	position: relative;
	display: inline-block;
}


.product__img:hover .product__popup {
	opacity: 1;
	transform: translate3d(0, -15px, 0);
}

.product__popup {
	opacity: 0;
	position: absolute;
	width: 180px;
	left: 50%;
	margin-left: -90px;
	bottom: 45px;
	transition: all .2s linear;
	display: flex;
	justify-content: space-between;
}
.product__icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	transition: all .2s linear;
}


.product__icon:hover {
	background-color: #ff5353;
	color: #fff;
}
.product__icon i {
	line-height: 50px;
}


.product__name {
	color: #888888;
	font-size: 14px;
	text-align: center;
	margin: 30px 0 15px;
}
.product__rate {
	text-align: center;
	margin: 15px 0;
}

.product__price {
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}

/* Carousel */

.carousel-indicators {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.carousel-indicators__item {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #c6b5a1;
}

.carousel-indicators__item + .carousel-indicators__item {
	margin-left: 15px;
}

 .carousel-indicators__item.active {
	background-color: #ff5353;
}


/* Advantages */

.advantages {
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
	/* align-items: center; */
}

.advantages__item {
	border: 1px solid #ebeef0;
	text-align: center;
	padding: 30px 0;
	flex: 1 1 0;

}

.advantages__item + .advantages__item {
	margin-left: 30px;
}

.advantages__icon {
	margin-bottom: 30px;
	height: 40px;
}

.advantages__title {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.advantages__subtitle {
	font-size: 14px;
	color: #888888;
}


/* Journal */

.journal {
	display: flex;
	justify-content: space-between;

}

.journal__item {
	width: 31.57%;
}


.journal__date {
	font-size: 13px;
	color: #888888;
	margin: 35px 0 20px;
}

.journal__date::before {
	content: '';
	width: 12px;
	height: 6px;
	display: inline-block;
	border-radius: 5px;
	background-color: #ff5353;
}

.journal__title {
	font-size: 20px;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	line-height: 30px;
	padding-bottom: 30px;
}

.journal__footer {
	font-size: 14px;
	color:#888888 ;
	margin-top: 25px;
}

.journal__theme, .journal__comments {
	margin-left: 10px;
}

.journal__theme {
	margin-right: 30px;
}
.journal__footer * {
 	vertical-align: middle;
 }

 /* Instagram */

.instagram {
 	display: flex;
 	justify-content: space-between;
 }

.instagram__item {
 	width: 22.98%;
 	position: relative;
 }

.instagram__item:hover .instagram__bg {
	height: 100%;
	opacity: 1;
} 

.instagram__item:hover .instagram__icon {
	opacity: 1;
}

.instagram__img {
 	display: block;
 }

.instagram__bg {
	position: absolute;
	background-color: #e16868;
	bottom: 0;
	width: 100%;
	height: 80%;
	opacity: 0;

	transition: all .2s linear;
}	

.instagram__icon {
 	position: absolute;
 	width: 100%;
 	top: 50%;
 	font-size: 40px;
 	transform: translate3d(0, -50%, 0);
 	color: #fff;
 	text-align: center;
 	opacity: 0;

 	transition: opacity .2s linear;
 }

 /* Footer */

 .footer {
 	background-color: #e9e1d8;
 }


/* Site-map */

.site-map {
	display: flex;
	justify-content: space-between;
}

.site-map__item {
	width: 22.98%;
}

.site-map__title {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin: 95px 0 40px;
}

.site-map__link {
	color: #888888;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.site-map__link + .site-map__link {
	margin-top: 20px;
}

.site-map__app {
	display: inline-block;
	width: 48%;
	background-color: #fff;
}

.site-map__app img {
	float: left;
}